/* Base styles */
body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
    margin: 1%;
    line-height: 1.6rem;
}

.preparation {
    background-color: lightpink;
    width: 100%;
    padding: 10px;
    border-radius: 5px; 
}
p{
    font-size: 24px;
}
li{
    font-size: 18px;
}

h2 {
    color: blueviolet;
}

th {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 5px;
}

td {
    padding: 5px;
    margin-right: 5%; 
}

.attribution {
    font-weight: bold; 
    color: grey;
    text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    td {
        margin-right: 0; /* Remove right margin for table cells on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .preparation {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}

/* Additional desktop styles */
@media screen and (min-width: 1024px) {
    .preparation {
        padding: 20px; /* Increase padding for desktop screens */
    }

    td {
        margin-right: 10%; /* Restore right margin for table cells on desktop screens */
    }
}
